.w-50.view-center
  = simple_form_for @sop, html: { id: 'sop-form' } do |f|
    = f.input :name, label: t(:name)
    = f.input :description, label: t(:description)
    .form-group
      %label.form-control-label{ for: 'sop[tags]'}= "#{t(:tags)}:"
      %input#sop-tags.form-control{ name: 'sop[tags]', value: @sop.tags.join(' ') }
    .form-group
      %label.form-control-label{ for: 'sop[category_id]' }= t(:category)
      %select.form-control{ disabled: true }
        %option= @sop.category.try(:name)
      = f.hidden_field :category_id, type: :hidden


    = f.input :file, label: t(:file), as: :file, input_html: { accept: '.pdf, .zip' }

    - unless @sop.file.file.nil?
      .flex-row
        = f.hidden_field :remove_file, class: 'destroy'
        = link_to '#', class: "remove-file", style: @sop.file.file.nil? ? 'display: none': '' do
          %i.far.fa-trash-alt{style: 'color: red; margin-right: 5px'}

        %small.form-text.text-muted= name(@sop.file.path)

    .actions{style: 'margin-top: 30px'}
      = f.button :submit, class: 'btn btn-primary', value: t(:save)
      = link_to t(:cancel), cancel_url, class: 'btn btn-secondary'
