.w-50.view-center
  = simple_form_for @sop, html: { id: 'sop-form' } do |f|
    = f.input :name
    = f.input :description
    %input#sop-tags{ name: 'sop[tags]', value: @sop.tags.join(',') }
    = f.input :file, as: :file, input_html: { accept: '.pdf, .zip' }

    - unless @sop.file.file.nil?
      .flex-row
        = f.hidden_field :remove_file, class: 'destroy'
        = link_to '#', class: "remove-file", style: @sop.file.file.nil? ? 'display: none': '' do
          %i.far.fa-trash-alt{style: 'color: red; margin-right: 5px'}

        %small.form-text.text-muted= name(@sop.file.path)

    .actions{style: 'margin-top: 30px'}
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', cancel_url, class: 'btn btn-secondary'
