-#%h2 Log in
-#= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  -#.form-inputs
    -#= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" } 
    -#= f.input :password, required: false, input_html: { autocomplete: "current-password" } 
    -#= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  -#.form-actions
    -#= f.button :submit, "Log in"
-#= render "devise/shared/links"


.form-wrapper
  %h2 Emergency Operation Center

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "current-password", class: 'form-control'

    - if devise_mapping.rememberable?
      .form-group.form-check
        = f.check_box :remember_me, class: 'form-check-input'
        = f.label :remember_me, class: 'form-check-label'
    .actions
      = f.submit "Log in", class: 'btn btn-primary mb-2'

  = render "devise/shared/links"

