.w-50.view-center
  = simple_form_for @category, html: { id: 'category-form' } do |f|
    = f.input :name
    .form-group
      %label.form-control-label{ for: 'category[tags]'} Tags:
      %input#category-tags.form-control{ name: 'category[tags]', value: @category.tags.join(' ') }
    = f.input :parent_id, as: :hidden, value: @category.parent_id

    .actions{style: 'margin-top: 30px'}
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', url, class: 'btn btn-secondary'
