%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %h3= @category.name
    .ml-auto
      = render 'shared/search_form'
    %ul.navbar-nav.ml-auto
      %li.nav-item.mr-sm-2
        .dropdown
          %button#dropdownMenuButton.btn.btn-primary.dropdown-toggle{ type: :button, 'data-toggle' => :dropdown, 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
            %i.fa.fa-plus
            &nbsp;
            = t(:new)
          .dropdown-menu{ 'aria-labelledby' => 'dropdownMenuButton' }
            = link_to new_category_path(parent_id: @category.try(:id)), class: 'dropdown-item' do
              %i.fa.fa-folder
              = t(:category)
            = link_to new_sop_path(category_id: @category.try(:id)), class: 'dropdown-item' do
              %i.far.fa-file
              = t(:sop)

      - if @category.present?
        %li.nav-item.mr-sm-2
          = link_to edit_category_path(@category.id), class: 'btn btn-primary', 'data-toggle' => :tooltip, title: t(:category_edit) do
            %i.fas.fa-pen
      %li.nav-item
        - if @category.nil? || !@category.is_empty?
          %span.d-inline-block{ tabindex: 0, 'data-toggle' => 'tooltip', title: t(:disabled) }
            .btn.btn-secondary{ disabled: true }
              %i.fas.fa-trash-alt
        - else
          = link_to category_path(id: @category.id), method: :delete, class: 'btn btn-danger', :data => {confirm: t(:confirm_delete, resource: 'category'), toggle: 'tooltip', placement: 'bottom'}, title: t(:delete) do
            %i.fas.fa-trash-alt

= render 'breadcrumb'
= render 'item_lists'
= render 'category_modal'
